<!-- breadcrumb part start-->
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>{{title}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->
<!-- ================ contact section start ================= -->
<section class="contact-section section_padding">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
            <div id="map" style="height: 480px;"></div>
            <script>
                function initMap() {
                    // -8.596687986473313, 116.08409328411193
                    var uluru = {
                        lat: -8.596687986473313,
                        lng: 116.08409328411193
                    };
                    var grayStyles = [{
                        featureType: "all",
                        stylers: [{
                            saturation: -50
                        },
                        {
                            lightness: 30
                        }
                        ]
                    },
                    {
                        elementType: 'labels.text.fill',
                        stylers: [{
                            color: '#89c4e8'
                        }]
                    }
                    ];
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: {
                            lat: -8.596687986473313,
                            lng: 116.08409328411193
                        },
                        zoom: 17,
                        styles: grayStyles,
                        scrollwheel: false
                    });
                }
            </script>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap">
                </script>

        </div>


        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Hubungi Kami</h2>
            </div>
            <div class="col-lg-12">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Kota Mataram, NTB</h3>
                        <p>Jalan Kesra Raya No. 19 Perumnas Tanjung Karang Permai, Kec. Sekarbela</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>081803335003</h3>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>83115</h3>
                        <p>Kode Pos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->