{{ entries paginate="5"}}
<section class="product_list section_padding">
    <div class="container">
        <div class="product_list">
            <div class="row">
                {{results}}
                <div class="col-lg-3 col-sm-3">
                    <div class="single_product_item">
                        <img src="{{foto}}" alt="#" class="img-fluid">
                        {{produk_unggulan}}
                        <h3> <a href="{{url}}">{{title}} -{{produk_unggulan}} -</a> </h3>
                        <p>Rp. {{harga format_number="0|.|."}}</p>
                    </div>
                </div>
                {{/results}}
            </div>
        </div>
    </div>
</section>
{{ /entries }}